.about-section{
    margin-top: 20px;
    padding: 0px 0px 0px 25px;
}

.about-card{
    background:#111827;
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    padding:20px;
    display:flex;
    flex-direction:column;
    color:white;
    min-height:400px;
    transition:.2s;
}

.about-card:hover{
    transform:translateY(-5px);
    border-color: rgba(79,140,255,.45);
    box-shadow: 0px 10px 15px rgba(79,140,255,.18);
}

.about-content h2{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:20px;
    font-weight:600;
    margin-bottom:12px;
}

.about-content h2 i{
    color:#4f8cff;
    font-size:20px;
}

.about-content p{
    color:#c7c7c7;
    line-height:1.4;
    font-size:12px;
    margin-bottom:15px;
}


.about-content span{
    color:white;
    font-weight:600;
}



.know-btn{
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    padding: 8px 15px;
    border:1px solid rgba(79,124,255,.6);
    border-radius: 50px;
    box-shadow:0 0 8px rgba(79,124,255,.25);
    background:rgba(92, 87, 253,0.1);
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    cursor: default;
    animation: glow 2s ease-in-out infinite;
    transition: all .3s ease-in-out;
}

.know-btn:hover{
    transform: translateY(-3px);
}

.status-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #22C55E;
    animation:pulse 1.5s infinite;
}



@keyframes pulse{
    0%{
        transform:scale(1);
        box-shadow:0 0 5px #22c55e;
    }
    50%{
        transform:scale(1.15);
        box-shadow:0 0 10px #22c55e;
    }
    100%{
        transform:scale(1);
        box-shadow:0 0 5px #22c55e;
    }
}
