/* =========NAVBAR CONTAINER============ */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: #111827;
    backdrop-filter: blur(15px);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
    height: 75px;
    padding: 0px 25px;
    position: fixed;
    /* To fix navbar  */
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
}


/* =========NAVBAR LEFT SIDE============ */

.logo-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16PX;
}


/* =========NAVBAR RIGHT SIDE============ */

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.3s;
}


.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}



/* BORDER BOTTOM ANIMATION */
.nav-links a {
    position: relative;
    transition: .3s;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #5C57FD;
    ;
    transition: .3s;
}

.nav-links a:hover::after {
    width: 100%;
}




.dwnld-resume-btn {
    padding: 10px 18px;
    border-color: #5C57FD;
    background: linear-gradient(90deg, #2c76ff, #6e34eb);
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s ease;

}

.nav-right a {
    text-decoration: none;
}

.dwnld-resume-btn:hover {
    transform: translateY(1.5px) scale(1.05);
    /* transform: translateY(-4px) scale(1.05); */
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}


/* ======================= NAVBAR RIGHT SIDE Hamburger Icon=======================  */



@media (max-width: 1200px) {

    .logo-header {
        font-size: 14PX;
    }


    .menu-icon {
        display: block;
        font-size: 24px;
    }

    .menu-icon i {

        transition: transform .3s ease;

    }

    .menu-icon:hover i {

        transform: rotate(360deg);

    }

    .nav-right {
        position: fixed;
        top: 75px;
        right: -100%;
        width: 260px;
        height: calc(100vh - 75px);

        background: rgba(11, 18, 32, 0.72);
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);

        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 25px;
        transition: right .55s ease;
        border-left: 1px solid rgba(255, 255, 255, .08);
    }

    .nav-right.active {
        right: 0;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        width: 100%;

    }

    .nav-links li {
        width: 100%;
    }

    .nav-links a {
        display: block;
        width: 100%;
    }


    .dwnld-resume-btn {
        padding: 8px;
        font-size: 14px;
        justify-content: center;
    }

    .menu-overlay {
        position: fixed;
        inset: 75px 0 0 0;
        background: rgba(0, 0, 0, .35);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        z-index: 999;
    }


}