.scroll-top-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 38px;
    height: 38px;

    border: none;
    border-radius: 50%;

   background: linear-gradient(90deg,#2c76ff,#6e34eb);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-size: 22px;

    z-index: 1000;

    transition: all .3s ease;
}

.scroll-top-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(79,140,255,.35);
    background: #3b82f6;
}

.scroll-top-btn i{
    font-size: 22px;
}


.scroll-top-btn{
    animation: slideUp .3s ease;
}

@keyframes slideUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}